
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
    padding-bottom: 80px;
    justify-content: center;
    align-items: center;
}

/* --- Top Bar --- */
.top-bar {
    background: #e53935;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-icon {
    width: 35px;
    height: 35px;
    background: white;
    color: #e53935;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


.daily-summary {
    display: flex;
    justify-content: space-around;
    margin: 15px 10px;
}

.summary-card {
    background: white;
    padding: 10px;
    width: 30%;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.summary-card.green h3 {
    color: green;
}

.summary-card.red h3 {
    color: red;
}

/* --- Quick Actions --- */
.quick-actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin: 20px;
}

.action-btn {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
}

/* --- Ledger Section --- */
.ledger-section {
    padding: 0 20px;
}

.ledger-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.green {
    color: green;
}

.red {
    color: red;
}

/* --- Bottom Navigation --- */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.nav-item {
    text-align: center;
    font-size: 14px;
}

.nav-item.active {
    color: #e53935;
    font-weight: bold;
}
.top{
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top1 {
    display: flex;             
    align-items: center;       
    margin-left:500px; 
    margin-top: 30px;   
    margin-bottom: 30px;           
}

.top1 img {
    width: 50px;              
    height: auto;
}
.header{
     display: flex;   
     justify-content: space-between;          
    align-items: center;
    padding: 10px 20px;       
    background-color: #f8f8f8; 
}
.logout{
    text-decoration: none;
    background-color: #d32f2f;
    color:white;
    font-weight: 600;
    border:none;
    padding: 10px;
    margin-right: 10px;
}